<mat-toolbar color="primary">
	<span>Inicio de sesión</span>
</mat-toolbar>
<br>
<form [formGroup]="form">
	<mat-form-field appearance="outline">
		<mat-label>Email</mat-label>
		<input type="text" matInput formControlName="email">
	</mat-form-field>
	<br>
	<mat-form-field appearance="outline">
		<mat-label>Password</mat-label>
		<input type="password" matInput formControlName="password">
	</mat-form-field>
	<br>
	<button mat-button mat-flat-button color="primary" (click)="login()">Login</button>
	<button mat-button mat-flat-button color="accent" [routerLink]="['/auth/register']">Register</button>
</form>
