form {
	.row {
		margin-bottom: 8px;

		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;

		.col-8 {
			flex: 8;
			display: flex;
			justify-content: flex-end;

			& > * {
				margin-right: 8px;
			}
		}

		.col-16 {
			flex: 16;
			display: flex;
			justify-content: flex-start;

			input {
				padding: 6px 10px;
			}
		}
	}

	button {
		padding: 8px;
	}
}
